



<div class="container">
  <div class="row">

  <div class="col-xs-3">
        
        
        <p id="notice"></p>
      
  
      	<%= render 'users/user', user: current_user %>

        <%= render 'bookers/booker', booker: @booker %>


  </div>
  <div class="col-xs-9">
    <h2>Users</h2>

    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
             <%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img profile-image", fallback: "no_image.jpg"%>
            </td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users, class: "pagenate" %>

</div>
</div>