

<div class="container">
  <div class="row">

  <div class="col-xs-3">
        
        
        <p id="notice"></p>
      
  
      	<%= render 'users/user', user: @post.user %> <!-- @postをしたuser -->

        <%= render 'bookers/booker', booker: @booker %>


  </div>



<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table"><tbody>
		<tr>
        <td><a href="/users/376">
          <img class="attachment user profile_image" src="/attachments/86d515f5dc57a5caeca86894763d9a2058dc5517/store/fill/100/100/c9e64a75bc8fad1400969832c8952c3940fd6739f708c2cbf08de2c86ae7/profile_image" alt="Profile image"><br>
          kimi
</a>        </td>
        <td><%= @post.title %></td>
        <td><%= @post.body %></td>

                <% if @post.user.id == current_user.id %>
          <td><%= link_to "Edit", edit_booker_path(@post.id), class:"btn-sm btn-success" %></td>
          <td><%= link_to "Destroy", booker_path(@post.id), method: :delete, "data-confirm" => "本当に消しますか？",class:"btn-sm btn-danger" %>
          </td>
          		<% end %>
      	</tr>

    </tbody></table>

  </div>

</div>