<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  	<div class="nav-box">
  		<div class="nav-top">
  			<div class="bookers-icon">
  			<%= link_to "Bookers", bookers_path, class:"glyphicon glyphicon-book", 'aria-label':"Top-page" %>
  			</div>

  		<nav>
  			<ul class="nav navbar-nav navbar-right">
  				<% if user_signed_in? %>
      		<li class="nav-icon">
        		<%= link_to " Home", user_path(current_user.id), class:"glyphicon glyphicon-home", 'aria-label':"Home" %>
     		</li>
      		<li class="nav-icon">
        		<%= link_to " User", users_path, class:"glyphicon glyphicon-user", 'aria-label':"User" %>
		    </li>
		    <li class="nav-icon">
		        <%= link_to " Book", bookers_path, class:"glyphicon glyphicon-book", 'aria-label':"Book" %>
		    </li>
		    <li class="nav-icon">
		    	<%= link_to " Log out", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-edit", 'aria-label':"Log out" %>
		    </li>
		    <% else %>
		    <li class="nav-icon">
        		<%= link_to " Home", top_path, class:"glyphicon glyphicon-home", 'aria-label':"Home" %>
     		</li>
      		<li class="nav-icon">
        		<%= link_to " About", about_path, class:"glyphicon glyphicon-link", 'aria-label':"About" %>
		    </li>
		    <li class="nav-icon">
		    	<%= link_to " Sign up", new_user_registration_path, class:"glyphicon glyphicon-edit", 'aria-label':"Sign up" %>
		    </li>
		    <li class="nav-icon">
		        <%= link_to " Log in", new_user_session_path, class:"glyphicon glyphicon-log-in", 'aria-label':"Log in" %>
		    </li>
    		<% end %>
      		</ul>
  		</nav>




	</div>
  </div>
</header>





    <%= yield %>





<footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>



  </body>
</html>
